{
    "host": "localhost",
    "port": 12345,
    "discord": {
        "enabled": true,
        "bot_token": "bot_token",
        "channels": [
            {
                "enabled": true,
                "channel_id": 123456789,
                "handler": null,
                "name": "",
                "channel_type": [
                    0,
                    1
                ]
            }
        ]
    },
    "telegram": {
        "enabled": true,
        "bot_token": "bot_token",
        "channels": [
            {
                "enabled": true,
                "channel_id": -123456789,
                "handler": null,
                "channel_type": [
                    0,
                    1
                ]
            }
        ]
    }
}